{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <title>{% trans 'Democratic Jukebox - your democratic music player' %}</title>
        <meta name="description" content="Democratic Jukebox - your democratic music player">
        <meta charset="UTF-8"/>
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
        <link type="text/css" rel="stylesheet" href="/static/css/music.css" />
    </head>
<body>
    <div id="header">
            <div id="logo">
                <a href="/">
                    <img src="/static/img/jukebox.png" alt="{% trans 'Jukebox logo' %}" width="156" height="40" />
                </a>
            </div>
            <div id="profile">
            </div>
            <div id="search">
                <h1>Login</h1>
            </div>
<br/><br/><br/><br/><br/>
    {% block content %}{% endblock %}
    {% block footer %}
    <hr>
    <p>Place your footnote here.</p>
    {% endblock %}
</body>
</html>
